// font-family
$font-stack: calibri, Arial, sans-serif;

// Color palette
// ---

// black shades
$black: #000;
$black-10: #5a5959;

// white shades
$white: #fff;

// grey shades
$grey: #c2c3cc;
$dark-grey: #828181;
$dark-grey-10: #626970;
$grey-10: #ebebeb;
$grey-20: #cccccc;
$grey-30: #909090;
$grey-40: #5e5e5e;


// Purple shade
$light-purple: #8d93c2;


// border-color
$border-color: #dfe0ee;


//blue shades
$blue-10: #dce8f8;
