//Styling of forgot password form
// ========================
//

.forgot-password-popup {
  overflow: hidden;
  input {
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #f5fafd;
  }
  .submit-btn {
    @extend .yellow-btn;
    margin: 0 26px 10px 0;
    width: 120px;
  }
  li {
    margin-top: 17px;
  }

}
.forgot-password-container {
  position: relative;
}
.back-btn {
  text-transform: capitalize;
  position: absolute;
  left: 170px;
  bottom: 12px;
  &:after {
    content: '';
    width: 20px;
    height: 14px;
    background: url(../../../assets/images/sprite.png) no-repeat -133px -104px;
    display: inline-block;
  }
}
