//Styling of hero-banner
// ========================
//
.hero-banner {
  background: url(../../../assets/images/banner.png) no-repeat;
  width: 100%;
  height: 700px;
  background-size: cover;
  position: absolute;
  top: 0;
}
