//Styling of sign-in-popup
// ========================
//
.sign-in-container {
  background: $white;
  width: 500px;
  height: 446px;
  position: absolute;
  right: 0;
  top: 55px;
  z-index: 1;
  padding: 13px 0 13px 0;
  border: 1px solid #e7e6dc;
  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 14px solid #fff;
    top: -13px;
    position: absolute;
    right: 8px;
  }
  .left-section, .right-section {
    float: left;
  }
  .left-section a {
    text-decoration: none;
    padding: 10px 40px 10px 20px;
    display: inline-block;
    color: $black;
    &:hover, &:focus {
      text-decoration: none;
      color: #4d75e5;
    }
    &:hover {
      border-left: 5px solid;
      padding-left: 15px;
    }
  }
  .right-section {
    border-left: 1px solid #dce8f8;
    padding: 7px 27px 7px 27px;
    height: 100%;
    width: 330px;
  }
}
.arabic {
  .sign-in-container {
    left: 0;
    right: auto;
    &:after {
      right: auto;
      left: 8px;
    }
  }
}
