/* Sprite icon
-------------------------------*/
 @mixin icon($width, $height, $x:0, $y:0) {
     background: url('../../assets/images/sprite1.png') $x $y;
     width: $width;
     height: $height;
 }

@mixin icon-colors($width:30px,$height:30px,$x:0, $y:0) {
  background: url('../../assets/images/sprite-colors.png') $x $y;
  width: $width;
  height: $height;
}
