<div class="signin-other-container">
    <ul class="signin-other" ng-controller="SignInOtherCtrl as socialCtrl">
        <li>
            <span>Save time by signing up to DoTrips.com  using your Facebook & Google accounts!</span>

            <div class="clearfix btn-container">
                <a ng-click="socialCtrl.authFacebook()" class="facebook-btn">Facebook</a>
                <a ng-click="socialCtrl.authGoogle()" class="google-plus-btn">Google +</a>
            </div>
            <span class="grey-text">We’ll never post to Facebook without your  permission.</span>
        </li>
        <li class="signin-other-link">
            Already have an account?
            <div><a href="/signin/" class="sign-in-link">sign IN</a> here.</div>
        </li>

    </ul>
</div>
